.consultorias{
    flex-direction: column;    
    padding-top: 4rem;
    padding-bottom: 4rem;
    color:  #fff;
    background: #fff;


    @include from(lg){
        display   : flex;
        flex-direction: row;       
        margin-bottom: 1rem;
    }
    
    .consultoria{
        flex: 1 0 50%;
        padding: 3rem;
        background: rgba(#292929, .85);
        color: #fff;
        
        .consultoria-title{
            color : #fff;
            text-align: center;
            margin: 0;
            padding-bottom: 1rem;     
        }

        .consultoria-descripcion{
            width: 90%;
            font-size: 1.18rem;
            margin: 0 auto;             
        } 
        
        &:nth-of-type(2){
            background: $hover-text; 
            
            
            .consultoria-title{
                color : #fff;
            }             

            .consultoria-descripcion{
                color: #fff;
            }            
        }
                
    }  

 }



