.main-footer{
    background:  $hover-text;
    color: #fff;
    padding-top: .5rem;    
    text-align: center;
    font-size: .8rem; 

    &__copyright{
        margin: 0;
        padding: .5rem;       
    }
}