.services{
 
  padding    : 8rem 0 8rem;  
    
  &-title{
    width      : 100%;
    text-align : center;
    color      : $hover-text;
    margin     : 0;
    padding-bottom: 4rem;
    font-size  : var(--h2--font-size);
  }
}

.services-container{

  display   : flex;
  flex-wrap : wrap;
  text-align: center; 
  

  :hover{
      
    box-shadow: 7px 3px 18px 0px rgba($hover-text,.75);

  }
  

  .services-item{

    background: #fff;
    border: none;
    border-radius: 10%;
    width: 250px;
    height: 250px;
    padding: 2.5rem;
    margin: 1rem;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   

    :hover{

      box-shadow: none;
    }        

    @include from(lg){

      width: calc(25% - 2rem);

    } 

   

    &--title{

     font-size: 1em;
     color: #999999;
     width: 100%;

    }
   
    
    &--link{
      
    

    }
    
  }

  

}

// MODAL

.list{

  font-size: 20px;  

  &-item{

    margin: 20px;
  }

}

.modal-description{

  text-align: center;
  font-size: 18px;
}