.l-container{
	max-width     : $max-width;
	padding-left  : 1rem;
    padding-right : 1rem;
	display       : flex;
	margin-right  : auto;	
  	margin-left   : auto;    
}

.l-section{
	margin-top: 1.4rem;

	@include from(lg){
		margin-top: 5rem;
	}	
}

.center-block{
 	margin-left: auto;
	margin-right: auto;
}

.center-content{
	text-align: center;
}